body {
    font-family: 'Roboto', sans-serif;
    background-color: #d1c4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.card h3 {
    color: #1E293B; /* Change to desired color */
    margin-bottom: 10px;
}
.card p {
    color: #777;
    margin-bottom: 20px;
}
.user-option {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.user-option:hover {
    background-color: #d1c4f6;
}
.user-option img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-option div {
    text-align: left;
}
.user-option div b {
    display: block;
    font-weight: 700;
    color: #444;
}
.user-option div span {
    font-size: 12px;
    color: #888;
}